@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  background-image: url(/assets/img/textura-blanca.jpg);
  font-family: "Outfit", sans-serif;
  min-height: calc(100vh - (100px + 100px));
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: #bfc0c787;
}

body::-webkit-scrollbar-thumb {
  background-color: #93949987;
  border-radius: 50px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #666a7c87;
}

/* SignIn Component */
/* SignUp Component */

.input-field {
  border-radius: 5px;
  border: 1px solid rgb(201, 201, 201);
  height: 3rem;
  padding-left: 20px;
}

.form-input-password{
  position: relative;
}

.eye{
  position: absolute;
  top: 28%;
  right: 4%;
  cursor: pointer;
  color: lightgrey;
}
/* Home view */

nav {
  background-color: lightgray;
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

nav ul {
  list-style: none;
  padding-inline-start: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar-img {
  width: 90px;
}

.navbar-brand {
  width: 5rem;
}

.navbar {
  padding: 15px 50px 15px 50px;
}

.input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.taskComplete {
  text-decoration: line-through;
}

.card-body {
  width: 28.8rem;
}

.add-button {
  width: 100%;
}

.fade-in {
  animation: fade-in 0.5s ease-in;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-out {
  animation: fade-in 0.5s ease-in;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.input-field-new-task {
  width: 100%;
  border-radius: 5px;
  border: 1px solid rgb(201, 201, 201);
  height: 3rem;
  padding-left: 20px;
}

.button-edit {
  width: 40%;
  height: 3rem;
}

.task-item {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.07);
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ellipsis div {
  position: absolute;
  top: 50px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: rgb(247, 207, 87);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

/* Account View */

.avatar {
  width: 300px;
  border-radius: 50%;
}

.avatar-container {
  background-color: rgb(255, 255, 255);
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.048);
  border: 0.5px solid rgba(0, 0, 0, 0.141);
}

.text-container {
  background-color: rgb(255, 255, 255);
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.048);
  height: 30rem;
  border: 0.5px solid rgba(0, 0, 0, 0.141);
}

/*Weather&Time*/
.widget-container{
  margin: 54px 0px 55px 0px;
}

#ww_4637b5e097394{
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.100);
}

.watch{
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.100);
}
/* Media Querys */

@media (max-width: 990px) {
  .input-field-new-task {
    width: 90%;
  }
  .add-button {
    width: 90%;
  }

  .navbar {
    margin-bottom: 20px;
  }
}
@media (max-width: 766px) {
  .input-field-new-task {
    width: 80%;
  }
  .add-button {
    width: 80%;
  }
}
@media (max-width: 576px) {
  .input-field-new-task {
    width: 70%;
  }
  .add-button {
    width: 70%;
  }

  .btn-query {
    width: 5rem !important;
  }

  .card-body {
    width: 20rem;
  }
}
